/*     HEADER     */

/*degrade de fondo*/
.wave{
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(295deg, #5bc6c0 0%, #0c3088 100%); 
}

.wave:before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 216px;
   background: url(../IMG/wave.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.wave .marg {
    margin-top: 4px;
}

.wave .mar-imag{
    margin-top: 4px;
}

@media (max-width: 991px) {
    .wave .mar-tp{
    margin-top: 4px;
    }
}

@media (max-width: 767px) {
    .wave .mar-tp{
    margin-top: 0px;
    }

    .wave .mar-imag{
    margin-top: 0px;
    }
}

@media (max-width: 489px) {
    .wave .mar-imag{
    margin-top: 4px;
    }
}

@media (max-width: 335px) {
    .wave .mar-tp{
    margin-top: 4px;
    }
}

.wave-serv{
    position: relative;
    padding-top: 10rem;
    background: linear-gradient(295deg, #5bc6c0 0%, #0c3088 100%); 
}

.wave-serv:before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 216px;
   background: url(../IMG/wave.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.wave-serv .marg {
    margin-top: 4px;
}

.wave-serv .mar-imag{
    margin-top: 4px;
}

@media (max-width: 991px) {
    .wave-serv .mar-tp{
    margin-top: 4px;
    }
}

@media (max-width: 767px) {
    .wave-serv .mar-tp{
    margin-top: 0px;
    }

    .wave-serv .mar-imag{
    margin-top: 0px;
    }
}

@media (max-width: 489px) {
    .wave-serv .mar-imag{
    margin-top: 4px;
    }
}

@media (max-width: 335px) {
    .wave-serv .mar-tp{
    margin-top: 4px;
    }
}

@media (max-width: 768px) {
  .text-center-xs {
    text-align: center;
  }
  .text-center-xs img {
    width: 366px;
  }

}

